	.contenitore-tabella{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

table {
  border-collapse: collapse;
  padding: 0px;
  width: max-content ;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}

td:first-child {
  text-align: left;
  padding: 0px;
  border: 1px solid black;
}

td:first-child > img{
  height: 150px;
}

.box-di-servizio-ordine{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin-top: 30px;
}

.box-di-servizio-ordine > span:nth-child(3){
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid black;
}

.box-di-servizio-ordine > span{
  width: 30%;
}

.box-di-servizio-ordine > form > input[Type='submit']{
  border: 1px solid black;
  font-size: medium;
  padding: 5px 10px;
  margin: 10px;
}

span{
  font-size: medium;
}

.lista-azioni-carrello{
  list-style-type: none;
  height: inherit;
}

.azione-carrello{
  height: max-content;
  padding: 10px;
}

.azione-carrello > a{
  background-color: rgb(179, 154, 144);
  text-decoration: none;
  color: rgb(222, 222, 222);
  font-size: medium;
  padding: 5px;

  display: flex;
  justify-content: center;
}

.azione-carrello > a:hover{
  background-color: rgb(163, 163, 163);
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: medium;
  padding: 5px;
}

span{
	text-align: center;
}